<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>Expertus</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Style CSS -->
    <link href="css/style.css" rel="stylesheet">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i%7cNoto+Serif:400,400i,700,700i" rel="stylesheet">
    <!-- FontAwesome CSS -->
    <link rel="stylesheet" type="text/css" href="css/fontello.css">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
    <!-- header-section-->
    <div class="header-wrapper navbar-fixed-top">
        <div class="top-header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-3 col-xs-12">
                        <div class="logo"> <a href="#" th:href="@{/}"><img src="./images/logo.png" alt=""> </a> </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-9 col-xs-12">
                        <nav>
                            <ul>
                                 <li>Contact Us 24/7 : 111-111-1111 </li>
                                <li class="hidden-xs">|</li>
                                <li class="hidden-xs"><a href="#" th:href="@{/contact}">Help</a></li>
                                <li class="hidden-xs">|</li>
                                <li class="hidden-xs"><i class="fa fa-user-circle"></i>&nbsp;&nbsp;<a href="#">Sign In</a></li>
                                <li class="hidden-xs">|</li>
                            </ul>
                            <input class="toggle" type="search" />
                            <i class="fa fa-search"></i>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- header-section-->
        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <!-- navigations-->
                         <div class="navigation">
                            <div id="navigation">
                                <ul>
                                    <li class="active"><a href="#" th:href="@{/}">Home</a></li>
                                    <li><a href="#" th:href="@{/service}">Our Product</a></li>
                                    <li><a href="#" th:href="@{/about}">About Us</a></li>                                    
                                    <li><a href="#" th:href="@{/test}">Clients Reviews</a> </li>
                                            <li><a href="#" th:href="@{/faq}">FAQ</a> </li>
                                            <li><a href="#" th:href="@{/checkout}">Devis</a> </li>                                                                                                                        
                                    <li><a href="#" th:href="@{/contact}">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- /.navigations-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /. header-section-->
    <!-- page-header -->
    <div class="page-header">
        <div class="page-caption">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h1 class="page-title">Frequently Ask Question</h1>
                        <div class="page-breadcrumb">
                            <ol class="breadcrumb">
                                <li><a href="#" th:href="@{/}">Home</a></li>
                                <li>FAQ's</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.page-header-->
    <!-- faq-section -->
    <div class="nav-scroll">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <ul>
                        <li><a class="page-scroll" href="#general">General</a></li>
                        <li><a class="page-scroll" href="#technical">Technical FAQ</a>
                            <li>
                                <li><a class="page-scroll" href="#order">Order/Billing FAQ</a></li>
                                <li><a class="page-scroll" href="#hosting">Hosting FAQ</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                    <div class="faq-block" id="general">
                        <h5 class="faq-title">General</h5>
                        <h5 class="title-bold">What is Payment hosting?</h5>
                        <p class="mb20">Sed semper lorem et porta fringillulla sit amet condimentum urnanon consequat massaorbi in finibus magnausce velsemeget ullamcorper nibhestibulum eu turpis rutrum tincidunt erat sed, lobortis erosed necenim porttitor consecteture. </p>
                        <h5 class="title-bold">Why should I choose This Hosting?</h5>
                        <p class="mb20">Fusce quis leo feliroin eget augue lectus. Vestibulum hendrerit, nisl et lobortis efficiturleo mauris lacinia tellus, nec egestas duierat a libern sodales tortor sit amet risus facilisisac suscipit nisl tristique. </p>
                        <h5 class="title-bold">How do I do this?</h5>
                        <p class="mb20">Nam et mi id enim sodales porta at non odiorabitur vitae erat vitae arcu accumsan blandit quis utodio Maecenas vestibulum tincidunt eros sit amet portras malesuada mattis placerat. </p>                                              
                    </div>
                    <div class="faq-block" id="technical">
                        <h5 class="faq-title">Technical FAQ</h5>
                        <h5 class="title-bold">How can I view the resource usage for my account?</h5>
                        <p class="mb20">Phasellus quis interdum enimnec euismod velorbi imperdietvel on purus vitae volutpa uspendisse potenusce ullamcimpe enimnec euismod velorbi imperdietvel on purus vitae volutpa uspendisse. </p>
                        <h5 class="title-bold">What kind of servers do you use?</h5>
                        <p class="mb20">Phasellus quis interdum enimnec euismod velorbi imperdietvel on purus vitae volutpa uspendisse potenusce ullamcimpe enimnec euismod velorbi imperdietvel on purus vitae volutpa uspendisse. </p>
                    </div>
                    <div class="faq-block" id="order">
                        <h5 class="faq-title">Order/Billing FAQ</h5>
                        <h5 class="title-bold">Is the migration automatic and/or compulsory?</h5>
                        <p class="mb20">Cras at eleifend quam. Quisque ornare rutrum nibh aliquet ullamcorpeiam in urna eu ex semper porta non sit amet magna. Sed neque tortor, faucibus vel viverra id, tristique a ante. </p>
                        <h5 class="title-bold">Can I change my plan for a few days and go back to the old one?</h5>
                        <p class="mb20">Vestibulum tempor sem at commodo sagittoin nunc mauris, malesuada eget dui neccondimentum molestie dui. Sed ornare dolor a urna mattis, et ultricies neque rutrum. </p>
                        <h5 class="title-bold">How do I renew my hosting plan?</h5>
                        <p class="mb20">Phasellus quis interdum enimnec euismod velorbi imperdietvel on purus vitae volutpa uspendisse potenusce ullamcimpe enimnec euismod velorbi imperdietvel on purus vitae volutpa uspendisse. </p>
                    </div>
                    <div class="faq-block" id="hosting">
                        <h5 class="faq-title">Hosting FAQ</h5>
                        <h5 class="title-bold">Is the migration automatic and/or compulsory?</h5>
                        <p class="mb20">Cras at eleifend quam. Quisque ornare rutrum nibh aliquet ullamcorpeiam in urna eu ex semper porta non sit amet magna. Sed neque tortor, faucibus vel viverra id, tristique a ante. </p>
                        <h5 class="title-bold">Can I change my plan for a few days and go back to the old one?</h5>
                        <p class="mb20">Vestibulum tempor sem at commodo sagittoin nunc mauris, malesuada eget dui neccondimentum molestie dui. Sed ornare dolor a urna mattis, et ultricies neque rutrum. </p>
                        <h5 class="title-bold">How do I renew my hosting plan?</h5>
                        <p class="mb20">Phasellus quis interdum enimnec euismod velorbi imperdietvel on purus vitae volutpa uspendisse potenusce ullamcimpe enimnec euismod velorbi imperdietvel on purus vitae volutpa uspendisse. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cta-single">
        <div class="container">
            <div class="row ">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                    <div class="cta-single-caption ">
                    <h1 class="text-white">Still Have A Question? </h1>
                    <p>Speak to a Our Customer Support Person (111-111-1111)</p>
                    <a href="#" class="btn btn-primary" th:href="@{/chat}">contact us</a>
                    </div> 
                </div>
            </div>
        </div>
    </div>
    <!-- /.faq-section -->
    <!-- footer -->
     <div class="footer ">
        <div class="container ">
            <div class="row ">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
                    <h3 class="newsletter-title ">Sign up for special offers</h3>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 ">
                    <div class="footer-widget ">
                        <form th:action="@{/newsletter}" method="POST">
                            <div class="input-group add-on">
                                <input class="form-control" placeholder="email address here" type="email" name="subcribe" >
                                <div class="input-group-btn">
                                    <button class="btn btn-primary ft-btn" type="submit">subscribe</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                    <div class="ft-top-line "></div>
                </div>
            </div>
            <div class="row ">
                <!-- footer-services -->
                
                <!-- /.footer-services -->
                <!-- footer-links -->
                <div class=" col-lg-3 col-md-3 col-sm-3 col-xs-12 ">
                    <div class="footer-widget ">
                        <h3 class="footer-title ">Quick Links</h3>
                        <ul>
                            <li><a href="# " th:href="@{/}">HomePage</a>
                                <li><a href="# " th:href="@{/service}">Services</a></li>
                                <li><a href="# " th:href="@{/about}">About us</a></li>
                                <li><a href="# " th:href="@{/contact}">Contact us</a></li></ul>
                    </div>
                </div>
                <!-- /.footer-links -->
                <!-- footer-post -->
                <div class=" col-lg-3 col-md-3 col-sm-6 col-xs-12 ">
                    <div class="footer-widget ">
                        <h3 class="footer-title ">Recent Post</h3>
                        <div class="ft-post ">
                            <h5 class="mb10 "><a href="# " class="ft-post-title "> Hosting Template</a></h5>
                            <div class="meta "><span>20 February,2020 </span> <span>/</span> <span>By <a href="# " class="meta-link ">Admin</a></span></div>
                        </div>
                        <div class="ft-post ">
                            <h5 class="mb10 "><a href="# " class="ft-post-title "> Hosting Website</a></h5>
                            <div class="meta "><span>19 February,2020 </span> <span>/</span> <span>By <a href="# " class="meta-link ">Admin</a></span></div>
                        </div>
                    </div>
                </div>
                <!-- /.footer-post -->
                <!-- footer-post -->
                <div class=" col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
                    <div class="footer-widget ">
                        <h3 class="footer-title ">About us</h3>
                        <p>Our vision is to be a world leader in payments by offering new state-of-the-art solutions.</p>
                    </div>
                </div>
                <!-- /.footer-post -->
            </div>
            <!-- tiny-footer -->
        </div>
        <div class="tiny-footer ">
            <div class="container ">
                <div class="row ">
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 ">
                        <div class="social-icon "> <a href="# " class="btn-social-icon "><i class="fa fa-facebook "></i></a> <a href="# " class="btn-social-icon "><i class="fa fa-twitter "></i></a> <a href="# " class="btn-social-icon "><i class="fa fa-linkedin "></i></a> <a href="# " class="btn-social-icon "><i class="fa fa-google-plus "></i></a> </div>
                    </div>
                    
                </div>
                <!-- /. tiny-footer -->
            </div>
        </div>
    </div>
   
    <!-- /.footer -->
      <a href="javascript:" id="return-to-top"><i class="fa fa-angle-up"></i></a>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.min.js " type="text/javascript "></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js " type="text/javascript "></script>
    <script src="js/menumaker.js " type="text/javascript "></script>
    <script src="js/navigation.js " type="text/javascript "></script>
    <script type="text/javascript " src="js/jquery.isotope.min.js "></script>
    <!-- Scrolling Nav JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/scrolling-nav.js"></script>
     <script type="text/javascript" src="js/return-to-top.js"></script>
</body>

</html>