<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="WPHost WordPress Web Hosting HTML Website Template">
    <meta name="keywords" content="WordPress Hosting, Bootstrap">
    <title>Expertus</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i%7cNoto+Serif:400,400i,700,700i" rel="stylesheet">
    <!-- FontAwesome CSS -->
    <link rel="stylesheet" type="text/css" href="css/fontello.css">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <!-- owl-carousel -->
    <link href="css/owl.carousel.css" rel="stylesheet">
    <link href="css/owl.theme.default.css" rel="stylesheet">
    <!-- Style CSS -->
    <link href="css/style.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!-- header-section-->
    <div class="header-wrapper navbar-fixed-top">
        <div class="top-header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-3 col-xs-12">
                        <div class="logo"> <a href="#" th:href="@{/}"><img src="./images/logo.png" alt=""> </a> </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-9 col-xs-12">
                        <nav>
                            <ul>
                                <li>Contact Us 24/7 : 111-111-1111 </li>
                                <li class="hidden-xs">|</li>
                                <li class="hidden-xs"><a href="#" th:href="@{/contact}">Help</a></li>
                                <li class="hidden-xs">|</li>
                                <li class="hidden-xs"><i class="fa fa-user-circle"></i>&nbsp;&nbsp;<a href="#">Sign In</a></li>
                                <li class="hidden-xs">|</li>
                            </ul>
                            <input class="toggle" type="search" />
                            <i class="fa fa-search"></i>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- header-section-->
        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <!-- navigations-->
                        <div class="navigation">
                            <div id="navigation">
                                <ul>
                                    <li class="active"><a href="#" th:href="@{/}">Home</a></li>
                                    <li><a href="#" th:href="@{/service}">Our Product</a></li>
                                        
                                    
                                    <li><a href="#" th:href="@{/about}">Our Agent</a></li>                                    
                                    <li><a href="#" th:href="@{/test}">Clients Reviews</a> </li>
                                            <li><a href="#" th:href="@{/faq}">FAQ</a> </li>
                                            <li><a href="#" th:href="@{/checkout}">Devis</a> </li>                                                                                                                        
                                    <li><a href="#" th:href="@{/contact}">Contact</a></li>
                                    <li><a href="#" th:href="@{/feature}">Template Feature</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- /.navigations-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /. header-section-->
    <!-- slider -->
    <div class="slider">
        <div class="owl-carousel owl-one owl-theme">
            <div class="item">
                <div class="slider-img">
                    <img src="./images/slider_1.jpg" alt=""></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12">
                            <div class="slider-captions">
                                <h1 class="slider-title">The best solution for your future  payment</h1>
                                <p class="mb30 hidden-sm hidden-xs">We ensure our clients the stability and quality of our combined services at a good price-quality ratio.</p>
                                <a href="#" th:href="@{/checkout}" class="btn btn-primary btn-lg hidden-xs">Start</a> &nbsp;&nbsp;
                                <a href="#" th:href="@{/contact}"class="btn btn-primary btn-lg hidden-xs">Contact-Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="slider-img"><img src="./images/slider_2.jpg" alt=""></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12">
                            <div class="slider-captions">
                                <h1 class="slider-title">The best solution for your future  payment</h1>
                                <p class="mb30 hidden-sm hidden-xs"> Our goal is that every business and every customer can manage and pay anywhere, anytime, easily and flexibly.</p>
                                <a href="#" th:href="@{/checkout}" class="btn btn-primary btn-lg hidden-xs">Start</a>&nbsp;&nbsp;
                                <a href="#" th:href="@{/contact}" class="btn btn-primary btn-lg hidden-xs hidden-sm">Contact-US</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="slider-img"><img src="./images/slider_3.jpg" alt=""></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12">
                            <div class="slider-captions">
                                <h1 class="slider-title">The best solution for your future  payment</h1>
                                <p class="mb30 hidden-sm hidden-xs">Our goal is that every business and every customer can manage and pay anywhere, anytime, easily and flexibly.</p>
                                <a href="#" th:href="@{/about}"class="btn btn-primary btn-lg hidden-xs">Who are we </a>&nbsp;&nbsp;
                                <a href="#" th:href="@{/contact}"class="btn btn-primary btn-lg hidden-xs">Contatct-US</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.slider -->
    <!-- service-section -->
    <div class="space-medium">
        <div class="container ">
            <div class="row ">
                <div class=" col-lg-offset-3 col-lg-6 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                    <div class="section-title">
                        <h2>Different hosting platforms to suit every need!</h2>
                    </div>
                </div>
            </div>
            <div class="row ">
                <!-- service-block -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="service-block">
                        <div class="service-content">
                            <div class="service-icon">
                                <img src="./images/web-hosting.svg" alt="">
                            </div>
                            <h3><a href="#" class="title">Web Hosting</a></h3>
                            <p>A web hosting service is a type of Internet hosting service that allows.......</p>
                        </div>
                        <div class="service-price">
                            <div class="price-text">
                                <p class="mb0">PRICES FROM</p>
                                <p class="price">$ 3.99 /mo</p>
                            </div>
                            <div class="service-btn">
                                <a href="#" class="btn btn-primary btn-xs"> <i class="fa fa-angle-right fa-2x"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="service-batch"><img src="./images/batch.png" alt=""></div>
                </div>
                <!-- service-block -->
                <!-- service-block -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="service-block">
                        <div class="service-content">
                            <div class="service-icon">
                                <img src="./images/cloud-hosting.svg" alt="">
                            </div>
                            <h3><a href="#" class="title">Cloud Hosting</a></h3>
                            <p>Cloud hosting is information technology paradigm that enables ubiquitous access.... </p>
                        </div>
                        <div class="service-price">
                            <div class="price-text">
                                <p class="mb0">PRICES FROM</p>
                                <p class="price">$ 80.99 /mo</p>
                            </div>
                            <div class="service-btn">
                                <a href="#" class="btn btn-primary btn-xs"> <i class="fa fa-angle-right fa-2x"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- service-block -->
                <!-- service-block -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="service-block">
                        <div class="service-content">
                            <div class="service-icon">
                                <img src="./images/shared-hosting.svg" alt="">
                            </div>
                            <h3><a href="#" class="title">Shared Hosting</a></h3>
                            <p>Shared Hosting is where many websites reside on one web server connected..... </p>
                        </div>
                        <div class="service-price">
                            <div class="price-text">
                                <p class="mb0">PRICES FROM</p>
                                <p class="price">$ 12.99 /mo</p>
                            </div>
                            <div class="service-btn">
                                <a href="#" class="btn btn-primary btn-xs"> <i class="fa fa-angle-right fa-2x"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- service-block -->
                <!-- service-block -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="service-block">
                        <div class="service-content">
                            <div class="service-icon">
                                <img src="./images/wordpress-hosting.svg" alt="">
                            </div>
                            <h3><a href="#" class="title">Wordpress Hosting</a></h3>
                            <p>WordPress Hosting Solutions make it easy to get your WordPress website up..... </p>
                        </div>
                        <div class="service-price">
                            <div class="price-text">
                                <p class="mb0">PRICES FROM</p>
                                <p class="price">$ 80.99 /mo</p>
                            </div>
                            <div class="service-btn">
                                <a href="#" class="btn btn-primary btn-xs"> <i class="fa fa-angle-right fa-2x"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- service-block -->
            </div>
        </div>
    </div>
    <!-- /.service-section -->
    <!-- features-section -->
    <div class="bg-line">
        <div class="container ">
            <div class="row ">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="">
                        <h2>We make your website faster and safer!</h2>
                    </div>
                </div>
                <!-- features-left -->
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="feature-left">
                        <div class="feature-icon"><img src="./images/speed.svg" alt=""></div>
                        <div class="feature-content">
                            <h4>Latest speed technologies</h4>
                            <p>Integer commodo nulla vitaelectus feugiat malesuadteger tincidunt placerate.</p>
                        </div>
                    </div>
                </div>
                <!-- /.features-left -->
                <!-- features-left -->
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="feature-left">
                        <div class="feature-icon"><img src="./images/security.svg" alt=""></div>
                        <div class="feature-content">
                            <h4>Own firewall security rules</h4>
                            <p>Aenean ultrices telluset aliquam vulputate eroturpis tincidunt nislblandit ornare.</p>
                        </div>
                    </div>
                </div>
                <!-- /.features-left -->
                <!-- features-left -->
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="feature-left">
                        <div class="feature-icon"><img src="./images/certificate.svg" alt=""></div>
                        <div class="feature-content">
                            <h4>Free SSL Certificate</h4>
                            <p>Nullam ante ligula commodo sevelit vel cursus rutrum ellentsque habitan.</p>
                        </div>
                    </div>
                </div>
                <!-- /.features-left -->
                <!-- features-left -->
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="feature-left">
                        <div class="feature-icon"><img src="./images/stable-plateform.svg" alt=""></div>
                        <div class="feature-content">
                            <h4>The most stable platform</h4>
                            <p>Praesent viverra mauris ana condimentum magna dictum obortis uisquevive.</p>
                        </div>
                    </div>
                </div>
                <!-- /.features-left -->
                <!-- features-left -->
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="feature-left">
                        <div class="feature-icon"><img src="./images/autoupdate.svg" alt=""></div>
                        <div class="feature-content">
                            <h4>User apps autoupdates</h4>
                            <p>Orci varius natoque penatibus etmagnis disparturient montes nasceturre.</p>
                        </div>
                    </div>
                </div>
                <!-- /.features-left -->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                    <a href="#" th:href="@{/about}" class="btn btn-primary">More About Us</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /.features-section -->
    <!-- cta-section -->
    <div class="space-medium">
        <div class="container ">
            <div class="row ">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <!-- cta-img -->
                    <div class="cta-img"><img src="./images/cta_img_1.jpg" alt="" class="img-responsive">
                        <!-- /.cta-img -->
                        <!-- cta-caption -->
                        <div class="cta-caption">
                            <div class="row">
                                <div class="col-lg-8 col-md-10 col-sm-12 col-xs-10">
                                    <div class="cta-icon hidden-xs"> <img src="./images/wordpress_icon.png" alt=""></div>
                                    <h1 class="cta-title">Set yourself up for success with a plan that fits your business.</h1>
                                    <p class="mb30 hidden-sm hidden-xs">Nullam ante ligula commodo sedvelit velcursus rutrum miellensque habitantes morbi tristique senectus enetuset maleada fames acturpis egesam.</p>
                                    <a href="#" class="btn btn-primary">view Hosting Plans</a>
                                </div>
                            </div>
                        </div>
                        <!-- /.cta-caption -->
                    </div>
                </div>
                <!-- contact-widget -->
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 nopr">
                    <div class="contact-widget">
                        <div class="contact-icon">
                            <img src="./images/phone.svg" alt="">
                        </div>
                        <div class="contact-content">
                            <h4 class="contact-text">PHONE 24/7</h4>
                            <p>+180-123-4567</p>
                        </div>
                    </div>
                </div>
                <!-- /.contact-widget -->
                <!-- contact-widget -->
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 nopr nopl">
                    <div class="contact-widget">
                        <div class="contact-icon">
                            <img src="./images/email.svg" alt="">
                        </div>
                        <div class="contact-content">
                            <h4 class="contact-text">Email Us</h4>
                            <p>info@wphosting.com</p>
                        </div>
                    </div>
                </div>
                <!-- /.contact-widget -->
                <!-- contact-widget -->
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 nopl">
                    <div class="contact-widget">
                        <div class="contact-icon">
                            <img src="./images/ticket.svg" alt="">
                        </div>
                        <div class="contact-content">
                            <h4 class="contact-text">TICKETS 24/7</h4>
                            <p>First Reply: 10 Minutes</p>
                        </div>
                    </div>
                </div>
                <!-- /.contact-widget -->
            </div>
        </div>
    </div>
    <!-- /.cta-section -->
    <!-- testimonial-section -->
    
    <!-- footer -->
     <div class="footer ">
        <div class="container ">
            <div class="row ">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
                    <h3 class="newsletter-title ">Sign up for special offers</h3>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 ">
                    <div class="footer-widget ">
                        <form>
                            <div class="input-group add-on">
                                <input class="form-control" placeholder="email address here" type="email" name="subcribe" >
                                <div class="input-group-btn">
                                    <button class="btn btn-primary ft-btn" type="submit">subscribe</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                    <div class="ft-top-line "></div>
                </div>
            </div>
            <div class="row ">
                <!-- footer-services -->
                
                <!-- /.footer-services -->
                <!-- footer-links -->
                <div class=" col-lg-3 col-md-3 col-sm-3 col-xs-12 ">
                    <div class="footer-widget ">
                        <h3 class="footer-title ">Quick Links</h3>
                        <ul>
                            <li><a href="# " th:href="@{/}">HomePage</a>
                                <li><a href="# " th:href="@{/service}">Services</a></li>
                                <li><a href="# " th:href="@{/about}">About us</a></li>
                                <li><a href="# " th:href="@{/contact}">Contact us</a></li></ul>
                    </div>
                </div>
                <!-- /.footer-links -->
                <!-- footer-post -->
                <div class=" col-lg-3 col-md-3 col-sm-6 col-xs-12 ">
                    <div class="footer-widget ">
                        <h3 class="footer-title ">Recent Post</h3>
                        <div class="ft-post ">
                            <h5 class="mb10 "><a href="# " class="ft-post-title "> Hosting Website Template</a></h5>
                            <div class="meta "><span>20 February,2020 </span> <span>/</span> <span>By <a href="# " class="meta-link ">Admin</a></span></div>
                        </div>
                        <div class="ft-post ">
                            <h5 class="mb10 "><a href="# " class="ft-post-title "> Hosting Website</a></h5>
                            <div class="meta "><span>19 February,2020 </span> <span>/</span> <span>By <a href="# " class="meta-link ">Admin</a></span></div>
                        </div>
                    </div>
                </div>
                <!-- /.footer-post -->
                <!-- footer-post -->
                <div class=" col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
                    <div class="footer-widget ">
                        <h3 class="footer-title ">About us</h3>
                        <p>Our vision is to be a world leader in payments by offering new state-of-the-art solutions.</p>
                    </div>
                </div>
                <!-- /.footer-post -->
            </div>
            <!-- tiny-footer -->
        </div>
        <div class="tiny-footer ">
            <div class="container ">
                <div class="row ">
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 ">
                        <div class="social-icon "> <a href="# " class="btn-social-icon "><i class="fa fa-facebook "></i></a> <a href="# " class="btn-social-icon "><i class="fa fa-twitter "></i></a> <a href="# " class="btn-social-icon "><i class="fa fa-linkedin "></i></a> <a href="# " class="btn-social-icon "><i class="fa fa-google-plus "></i></a> </div>
                    </div>
                    
                </div>
                <!-- /. tiny-footer -->
            </div>
        </div>
    </div>
   
    <!-- /.footer -->
    <a href="javascript:" id="return-to-top"><i class="fa fa-angle-up"></i></a>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.min.js" type="text/javascript"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js" type="text/javascript"></script>
    <script src="js/menumaker.js" type="text/javascript"></script>
    <script type="text/javascript" src="js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="js/multiple-carousel.js"></script>
    <script src="js/navigation.js " type="text/javascript "></script>
    <script type="text/javascript " src="js/jquery.isotope.min.js "></script>
    <script type="text/javascript ">
    $('.fa-search').on('click', function() {
        $(this).siblings().toggleClass('toggle');
    });
    </script>
    <script type="text/javascript" src="js/return-to-top.js"></script>
</body>

</html>