<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>WPHost - WordPress Web Hosting HTML Website Template - Wordpress Hosting</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Style CSS -->
    <link href="css/style.css" rel="stylesheet">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i%7cNoto+Serif:400,400i,700,700i" rel="stylesheet">
    <!-- FontAwesome CSS -->
    <link rel="stylesheet" type="text/css" href="css/fontello.css">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
    <!-- header-section-->
    <div class="header-wrapper navbar-fixed-top">
        <div class="top-header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-3 col-xs-12">
                        <div class="logo"> <a href="#" th:href="@{/}"><img src="./images/logo.png" alt=""> </a> </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-9 col-xs-12">
                        <nav>
                            <ul>
                                <li>Contact Us 24/7 : 180-123-4567 </li>
                                <li class="hidden-xs">|</li>
                                <li class="hidden-xs"><a href="#">Help</a></li>
                                <li class="hidden-xs">|</li>
                                <li class="hidden-xs"><i class="fa fa-user-circle"></i>&nbsp;&nbsp;<a href="#">Sign In</a></li>
                                <li class="hidden-xs">|</li>
                            </ul>
                            <input class="toggle" type="search" />
                            <i class="fa fa-search"></i>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- header-section-->
        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <!-- navigations-->
                        <div class="navigation">
                            <div id="navigation">
                                <ul>
                                    <li class="active"><a href="#" th:href="@{/}">Home</a></li>
                                    <li class="has-sub"><a href="#">Hosting</a>
                                        <ul>
                                            <li><a href="service-list.html">Hosting List</a></li>
                                            <li><a href="#" th:href="@{/service}">Wordpress Hosting</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#" th:href="@{/about}">About us</a></li>
                                    <li class="has-sub"><a href="#">Blog</a>
                                        <ul>
                                            <li><a href="blog-default.html">Blog Default</a></li>
                                            <li><a href="blog-single.html">Blog Single</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-sub"><a href="#">Pages</a>
                                        <ul>
                                            <li><a href="#" th:href="@{/test}">Clients Reviews</a> </li>
                                            <li><a href="#" th:href="@{/faq}">FAQ</a> </li>
                                            <li><a href="#" th:href="@{/checkout}">Checkout</a> </li>
                                            <li><a href="tab.html">Tabs</a> </li>
                                            <li><a href="alerts.html">Alerts</a> </li>
                                            <li><a href="accordions.html">Accordions</a> </li>
                                            <li><a href="#" th:href="@{/action}">Call to Actions</a> </li>
                                            <li><a href="404-page.html">404 page</a> </li>
                                            <li><a href="styleguide.html">styleguide</a> </li>
                                        </ul>
                                    </li>
                                    <li><a href="#" th:href="@{/contact}">Contact</a></li>
                                    <li><a href="#" th:href="@{/feature}">Template Feature</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- /.navigations-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /. header-section-->
    <!-- page-header -->
    <div class="service-pageheader">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                    <div class="service-page-caption">
                        <h1 class="service-page-title">WordPress Hosting</h1>
                        <p class="service-page-text">Fast, Secure & Simple</p>
                        <p class="lead hidden-xs hidden-sm">Mauris pellentesque elitin pharetra temporbi in semper seronse slorespndisse sagittis ipsum in urna ornareut sagittis augue seron cursus novi eleifend eu mcula nisl felisa dignissim.</p>
                        <a href="#" class="btn btn-primary">View Plan</a> &nbsp;
                        <a href="#" class="btn btn-primary">Sing in</a>
                    </div>
                </div>
                <div class="col-lg-offset-1 col-lg-4 col-md-offset-1 col-md-4 hidden-sm hidden-xs">
                    <div class="service-single-img"><img src="./images/wordpress-hosting-big-1.png" alt=""></div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.page-header-->
    <!-- service-single -->
    <!-- pricing-plan -->
    <div class="content">
        <div class="container ">
            <div class="row ">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                    <div class="section-title">
                        <h2>We have a plan that's right for you.</h2>
                        <p>Pellentesque elitin pharetra temporbimper lorespesse on sagittis gue imperdie bulumsre necfelis gravida.</p>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb30">
                    <div class="plan-block">
                        <div class="plan-icon"><img src="./images/pricing-personal.svg" alt=""></div>
                        <div class="plan-content">
                            <h3 class="plan-title">Personal</h3>
                            <p class="plan-pricing"><sup>$</sup>29<sub class="plan-small-text">/mo</sub></p>
                            <a href="#" class="btn btn-default btn-block">Host my site</a>
                        </div>
                    </div>
                    <div class="plan-ft-list" id="plan-feature-list">
                                <ul class="list-none">
                            <li>WordPress installs - 10</li>
                            <li>Visits / month - 100,000</li>
                            <li>Local storage - 20 GB</li>
                            <li>Support - 24 / 7</li>
                            <li>Telephone support - 10</li>
                            <li>CDN speed boost</li>
                            <li>WordPress multisite</li>
                            <li>Support</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb30">
                    <div class="plan-block">
                        <div class="plan-icon"><img src="./images/pricing-professional.svg" alt=""></div>
                        <div class="plan-content">
                            <h3 class="plan-title">Proffesional</h3>
                            <p class="plan-pricing"><sup>$</sup>99<sub class="plan-small-text">/mo</sub></p>
                            <a href="#" class="btn btn-default btn-block">Host my site</a>
                        </div>
                    </div>
                    <div class="plan-ft-list" id="plan-feature-list">
                             <ul class="list-none">
                            <li>WordPress installs - 10</li>
                            <li>Visits / month - 100,000</li>
                            <li>Local storage - 20 GB</li>
                            <li>Support - 24 / 7</li>
                            <li>Telephone support - 10</li>
                            <li>CDN speed boost</li>
                            <li>WordPress multisite</li>
                            <li>Support</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb30">
                    <div class="plan-block">
                        <div class="plan-icon"><img src="./images/pricing-business.svg" alt=""></div>
                        <div class="plan-content">
                            <h3 class="plan-title">Business</h3>
                            <p class="plan-pricing"><sup>$</sup>249<sub class="plan-small-text">/mo</sub></p>
                            <a href="#" class="btn btn-default btn-block">Host my site</a>
                        </div>
                    </div>
                    <div class="plan-ft-list" id="plan-feature-list">
                        <ul class="list-none">
                            <li>WordPress installs - 10</li>
                            <li>Visits / month - 100,000</li>
                            <li>Local storage - 20 GB</li>
                            <li>Support - 24 / 7</li>
                            <li>Telephone support - 10</li>
                            <li>CDN speed boost</li>
                            <li>WordPress multisite</li>
                            <li>Support</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                    <p class="lead">Want more details on our plans? <strong>Call +180-123-4567</strong> to talk to a sales specialist</p>
                </div>
            </div>
        </div>
    </div>
    <!-- /.pricing-plan -->
    <!-- featuer-list -->
    <div class="bg-line">
        <div class="container ">
            <div class="row ">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                    <div class="section-title">
                        <h2>Awesome WordPress Tools</h2>
                        <p>For fast development and easy management of your site</p>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="feature">
                        <div class="feature-icon"><img src="./images/feature_icon.png" alt=""></div>
                        <div class="feature-content">
                            <h3>1-Click Installer</h3>
                            <p>Dead-simple installation of web apps like WordPress, Joomla! and more!</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="feature">
                        <div class="feature-icon"><img src="./images/feature_icon.png" alt=""></div>
                        <div class="feature-content">
                            <h3>Autoupdates</h3>
                            <p>Praesent viverra mauris ana condimentum magna dictum obortis uisquevive.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="feature">
                        <div class="feature-icon"><img src="./images/feature_icon.png" alt=""></div>
                        <div class="feature-content">
                            <h3>100% Uptime Guarantee</h3>
                            <p>We guarantee it so you don’t have to worry about it. Lorem ipusm dolor sit maet </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="feature">
                        <div class="feature-icon"><img src="./images/feature_icon.png" alt=""></div>
                        <div class="feature-content">
                            <h3>SuperCacher</h3>
                            <p>3 levels of caching for an ultra-fast site. cursus rutrum ellentsque habitan.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="feature">
                        <div class="feature-icon"><img src="./images/feature_icon.png" alt=""></div>
                        <div class="feature-content">
                            <h3>Real-life Human Beings</h3>
                            <p>Tech nerds are all standing by to optimize your experience.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="feature">
                        <div class="feature-icon"><img src="./images/feature_icon.png" alt=""></div>
                        <div class="feature-content">
                            <h3>Git Pre-Installed</h3>
                            <p>Interface for Git repo creation. disparturient montes nasceturre.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.feature-list -->
    <!-- support-systems -->
    <div class="space-medium">
        <div class="container ">
            <div class="row ">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                    <div class="section-title">
                        <h2>WordPress support, speed and security!</h2>
                        <p>Provided by our team of WordPress hosting experts</p>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-lg-offset-1 col-lg-10  col-md-offset-1 col-md-10 col-sm-12 col-xs-12 ">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 text-center mb30">
                            <div class=""><img src="./images/bigheart.svg" alt=""></div>
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 mt40 mb30">
                            <h3>Support you’ll love</h3>
                            <p>Aliquam faucibus euismod bibendu ellentesque veneatis semper nisivel aliquam auris quis lobortis tellusroin sitamet vestibulums lectusraesent vitae purus rutrum dignissim dolorquis.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 mt40 mb30">
                            <h3>We obsess over security</h3>
                            <p>Mauris neque neque porttitor a imperdietut iaculis atusce rutrum nulla etefficitur venenatisipsum estrutrum mivel fringilla massa libero non mnhac habitasse platea dictumtitor.</p>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 text-center mb30">
                            <div class=""><img src="./images/bigsecurity.svg" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.support-systems -->
    <!-- faq -->
    <div class="bg-line">
        <div class="container ">
            <div class="row ">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                    <div class="section-title">
                        <h2>Frequently Ask Question</h2>
                        <p>Nunc efficitu fermentum accuuisque eget pretium ligula. </p>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mb40">
                    <div class="mb20">
                        <h5 class="title-bold">What is WordPess hosting?</h5>
                        <p>Cras at eleifend quam. Quisque ornare rutrum nibh aliquet ullamcorpeiam in urna eu ex semper porta non sit viverra id, tristique a ante. </p>
                    </div>
                    <div class="mb20">
                        <h5 class="title-bold">How Do I Access My Site’s Database?</h5>
                        <p>Vestibulum tempor sem at commodo sagittoin nunc mauris, malesuada eget dui neccondimentum molestie dui. Sed ornrutrum. </p>
                    </div>
                    <div class="mb20">
                        <h5 class="title-bold">How Does WP Host Performance Work?</h5>
                        <p>Phasellus quis interdum enimnec euismod velorbi imperdietvel on purus vitae volutpa uspendisse potenusce vitae volutpa uspendisse. </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mb40">
                    <div class="mb20">
                        <h5 class="title-bold">What Functions are Enabled on the Server Level?</h5>
                        <p>At eleifend quam. Quisque ornare rutrum nibh aliquet ullamcorpeiam in urna eu ex semper porta non sit viverra id, tristique a ante. </p>
                    </div>
                    <div class="mb20">
                        <h5 class="title-bold">How do I pick a hosting plan?</h5>
                        <p>Estibulum tempor sem at commodo sagittoin nunc mauris, malesuada eget dui neccondimentum molestie dui. Sed ornrutrum. </p>
                    </div>
                    <div class="mb20">
                        <h5 class="title-bold">What is Multisite?</h5>
                        <p>Sellus quis interdum enimnec euismod velorbi imperdietvel on purus vitae volutpa uspendisse potenusce vitae volutpa uspendisse.</p>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb30 text-center">
                    <a href="#" class="btn btn-default mb10">Get Started</a>
                    <a href="#" class="btn btn-primary mb10">Contact us</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /.faq -->
    <!-- /.service-single -->
    <!-- footer -->
    <div class="footer ">
        <div class="container ">
            <div class="row ">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
                    <h3 class="newsletter-title ">Sign up for special offers</h3>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <div class="footer-widget">
                        <form>
                            <div class="input-group add-on">
                                <input class="form-control" placeholder="email address here" type="text">
                                <div class="input-group-btn">
                                    <button class="btn btn-primary ft-btn" type="submit">subscribe</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                    <div class="ft-top-line "></div>
                </div>
            </div>
            <div class="row ">
                <!-- footer-services -->
                <div class=" col-lg-3 col-md-3 col-sm-3 col-xs-12 ">
                    <div class="footer-widget ">
                        <h3 class="footer-title ">Services</h3>
                        <ul>
                            <li><a href="# ">Web Hosting</a>
                                <li><a href="# ">Cloud Hosting</a></li>
                                <li><a href="# ">Shared Hosting</a></li>
                                <li><a href="# ">Wordpress Hosting</a></li>
                        </ul>
                    </div>
                </div>
                <!-- /.footer-services -->
                <!-- footer-links -->
                <div class=" col-lg-3 col-md-3 col-sm-3 col-xs-12 ">
                    <div class="footer-widget ">
                        <h3 class="footer-title ">Quick Links</h3>
                        <ul>
                            <li><a href="# ">HomePage</a>
                                <li><a href="# ">Services</a></li>
                                <li><a href="# ">About us</a></li>
                                <li><a href="# ">Contact us</a></li>
                        </ul>
                    </div>
                </div>
                <!-- /.footer-links -->
                <!-- footer-post -->
                <div class=" col-lg-3 col-md-3 col-sm-6 col-xs-12 ">
                    <div class="footer-widget ">
                        <h3 class="footer-title ">Recent Post</h3>
                        <div class="ft-post">
                            <h5 class="mb10 "><a href="# " class="ft-post-title">Web Hosting Website Template</a></h5>
                            <div class="meta"><span>20 February,2020 </span> <span>/</span> <span>By <a href="#" class="meta-link">Admin</a></span></div>
                        </div>
                        <div class="ft-post">
                            <h5 class="mb10"><a href="#" class="ft-post-title">Wordpress Hosting Website</a></h5>
                            <div class="meta "><span>19 February,2020 </span> <span>/</span> <span>By <a href="#" class="meta-link">Admin</a></span></div>
                        </div>
                    </div>
                </div>
                <!-- /.footer-post -->
                <!-- footer-post -->
                <div class=" col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="footer-widget">
                        <h3 class="footer-title">About us</h3>
                        <p>Nullam ante ligula commd is dvelit velcursus rutum miesue habitantes morbi tristique one senectus enetusetada.</p>
                    </div>
                </div>
                <!-- /.footer-post -->
            </div>
            <!-- tiny-footer -->
        </div>
        <div class="tiny-footer ">
            <div class="container ">
                <div class="row ">
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 ">
                        <div class="social-icon"> <a href="# " class="btn-social-icon "><i class="fa fa-facebook "></i></a> <a href="# " class="btn-social-icon "><i class="fa fa-twitter "></i></a> <a href="# " class="btn-social-icon "><i class="fa fa-linkedin "></i></a> <a href="# " class="btn-social-icon "><i class="fa fa-google-plus "></i></a> </div>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 ">
                        <p>Copyright © All Rights Reserved 2020 Template Design by <a href="https://easetemplate.com/ " target="_blank " class="copyrightlink ">EaseTemplate</a></p>
                    </div>
                </div>
                <!-- /. tiny-footer -->
            </div>
        </div>
    </div>
    <!-- /.footer -->
      <a href="javascript:" id="return-to-top"><i class="fa fa-angle-up"></i></a>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.min.js" type="text/javascript"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js " type="text/javascript"></script>
    <script src="js/menumaker.js" type="text/javascript"></script>
    <script src="js/navigation.js" type="text/javascript"></script>
    <script type="text/javascript" src="js/jquery.isotope.min.js "></script>
    <script src="js/readmore.js"></script>
    <script type="text/javascript">
    $('.fa-search').on('click', function() {
        $(this).siblings().toggleClass('toggle');
    });
    </script>
    <script>
    $('#plan-feature-list').readmore({
        moreLink: '<a href="#">Usage, examples, and options</a>',
        collapsedHeight: 0,
        afterToggle: function(trigger, element, expanded) {
            if (!expanded) { // The "Close" link was clicked
                $('html, body').animate({
                    scrollTop: element.offset().top
                }, {
                    duration: 100
                });
            }
        }
    });

    $('.plan-ft-list').readmore({
        speed: 500
    });
    </script>
     <script type="text/javascript" src="js/return-to-top.js"></script>
</body>

</html>