<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>WPHost - WordPress Web Hosting HTML Website Template - Template Features Page</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Style CSS -->
    <link href="css/style.css" rel="stylesheet">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i%7cNoto+Serif:400,400i,700,700i" rel="stylesheet">
    <!-- FontAwesome CSS -->
    <link rel="stylesheet" type="text/css" href="css/fontello.css">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
    <!-- header-section-->
    <div class="header-wrapper navbar-fixed-top">
        <div class="top-header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-3 col-xs-12">
                        <div class="logo"> <a href="index.html"><img src="./images/logo.png" alt=""> </a> </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-9 col-xs-12">
                        <nav>
                            <ul>
                                <li>Contact Us 24/7 : 180-123-4567 </li>
                                <li class="hidden-xs">|</li>
                                <li class="hidden-xs"><a href="#">Help</a></li>
                                <li class="hidden-xs">|</li>
                                <li class="hidden-xs"><i class="fa fa-user-circle"></i>&nbsp;&nbsp;<a href="#">Sign In</a></li>
                                <li class="hidden-xs">|</li>
                            </ul>
                            <input class="toggle" type="search" />
                            <i class="fa fa-search"></i>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- header-section-->
        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <!-- navigations-->
                        <div class="navigation">
                            <div id="navigation">
                                <ul>
                                    <li class="active"><a href="index.html">Home</a></li>
                                    <li class="has-sub"><a href="#">Hosting</a>
                                        <ul>
                                            <li><a href="service-list.html">Hosting List</a></li>
                                            <li><a href="service-single.html">Wordpress Hosting</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="about.html">About us</a></li>
                                    <li class="has-sub"><a href="#">Blog</a>
                                        <ul>
                                            <li><a href="blog-default.html">Blog Default</a></li>
                                            <li><a href="blog-single.html">Blog Single</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-sub"><a href="#">Pages</a>
                                        <ul>
                                            <li><a href="testimonials.html">Clients Reviews</a> </li>
                                            <li><a href="faq.html">FAQ</a> </li>
                                            <li><a href="checkout.html">Checkout</a> </li>
                                            <li><a href="tab.html">Tabs</a> </li>
                                            <li><a href="alerts.html">Alerts</a> </li>
                                            <li><a href="accordions.html">Accordions</a> </li>
                                            <li><a href="call-to-actions.html">Call to Actions</a> </li>
                                            <li><a href="404-page.html">404 page</a> </li>
                                            <li><a href="styleguide.html">styleguide</a> </li>
                                        </ul>
                                    </li>
                                    <li><a href="contact-us.html">Contact</a></li>
                                    <li><a href="template-feature.html">Template Feature</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- /.navigations-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /. header-section-->
    <!-- page-header -->
    <div class="page-header">
        <div class="page-caption">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h1 class="page-title">Template Feature</h1>
                        <div class="page-breadcrumb">
                            <ol class="breadcrumb">
                                <li><a href="#">Home</a></li>
                                <li>Template Feature</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.page-header-->
    <!-- template-features -->
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-12 col-xs-12">
                    <div class="section-title">
                        <h2> WordPress Web Hosting Website Template Feature</h2>
                    </div>
                    <p class="lead">If you looking for clean & simple WordPress hosting bootstrap website template, WPHost is perfect for you. it's designed for WordPress hosting providers who start the business in WordPress hosting services for professional, personal, business, & agency. Create your site responsive and, mobile-friendly. Get it Now.</p>
                    <p class="mb60">The Template is specially created to show WordPress hosting service feature and concept. Also, another hosting service like web hosting, cloud hosting, shared hosting, domain buys and sell, hosting agency.</p>
                    <div class="device-img mb60">
                        <img src="./images/device_img.png" alt=""> </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mt30">
                    <h3 class="mb40">Key Features:</h3>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="key-features">
                                <h6 class="key-features-title">Bootstrap V3+</h6>
                                <p> It is world’s best and famous front-end component library. It is a open source toolkit.
                                </p>
                            </div>
                            <div class="key-features">
                                <h6 class="key-features-title">HTML5 &amp; CSS3</h6>
                                <p>Template built with HTML5 and CSS3 technology. It is very easy to understand.
                                </p>
                            </div>
                            <div class="key-features">
                                <h6 class="key-features-title">W3C Valid Markup</h6>
                                <p>All web pages are checked by W3C Markup Validation Service. </p>
                            </div>
                            <div class="key-features">
                                <h6 class="key-features-title">Owl Carousel (for slider)</h6>
                                <p>Using this jQuery create a homepage slider very beautiful and responsive.
                                </p>
                            </div>
                            <div class="key-features">
                                <h6 class="key-features-title">Styleguide Page</h6>
                                <p>Styleguide page template have a style of designed elements and typography for layout, So it is very useful for developer, who need ready made template for developing. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mt30">
                    <h3 class="mb40">Template Pages:</h3>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="key-features">
                                <h6 class="key-features-title">Hosting List Page</h6>
                                <p> Show your hosting service with creative icon and description in outline border list.
                                </p>
                            </div>
                            <div class="key-features">
                                <h6 class="key-features-title">Hosting Single Page</h6>
                                <p>Most powerful page describe about your hosting pricing plan and features of your services. </p>
                            </div>
                            <div class="key-features">
                                <h6 class="key-features-title">Review Page</h6>
                                <p>Show your success full customer review with star rating feature or testimonial.
                                </p>
                            </div>
                            <div class="key-features">
                                <h6 class="key-features-title">Checkout</h6>
                                <p> Simple and clean checkout page design give your customer easy hosting purchasing with it should include product order summary.
                                </p>
                            </div>
                            <div class="key-features">
                                <h6 class="key-features-title">FAQ Page</h6>
                                <p> Faq page design with scrollnav transition effect with category, show your question in category scorll. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-6 col-sm-12 col-xs-12 text-center mt30">
                    <a href="https://easetemplate.com/" target="_blank" class="btn btn-primary">Get Web Hosting Template</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /.template-features -->
    <!-- footer -->
    <div class="footer ">
        <div class="container ">
            <div class="row ">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
                    <h3 class="newsletter-title ">Sign up for special offers</h3>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 ">
                    <div class="footer-widget ">
                        <form>
                            <div class="input-group add-on ">
                                <input class="form-control " placeholder="email address here " type="text ">
                                <div class="input-group-btn ">
                                    <button class="btn btn-primary ft-btn " type="submit ">subscribe</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                    <div class="ft-top-line "></div>
                </div>
            </div>
            <div class="row ">
                <!-- footer-services -->
                <div class=" col-lg-3 col-md-3 col-sm-3 col-xs-12 ">
                    <div class="footer-widget ">
                        <h3 class="footer-title ">Services</h3>
                        <ul>
                            <li><a href="# ">Web Hosting</a>
                                <li><a href="# ">Cloud Hosting</a></li>
                                <li><a href="# ">Shared Hosting</a></li>
                                <li><a href="# ">Wordpress Hosting</a></li>
                        </ul>
                    </div>
                </div>
                <!-- /.footer-services -->
                <!-- footer-links -->
                <div class=" col-lg-3 col-md-3 col-sm-3 col-xs-12 ">
                    <div class="footer-widget ">
                        <h3 class="footer-title ">Quick Links</h3>
                        <ul>
                            <li><a href="# ">HomePage</a>
                                <li><a href="# ">Services</a></li>
                                <li><a href="# ">About us</a></li>
                                <li><a href="# ">Contact us</a></li>
                        </ul>
                    </div>
                </div>
                <!-- /.footer-links -->
                <!-- footer-post -->
                <div class=" col-lg-3 col-md-3 col-sm-6 col-xs-12 ">
                    <div class="footer-widget ">
                        <h3 class="footer-title ">Recent Post</h3>
                        <div class="ft-post ">
                            <h5 class="mb10 "><a href="# " class="ft-post-title ">Web Hosting Website Template</a></h5>
                            <div class="meta "><span>20 February,2020 </span> <span>/</span> <span>By <a href="# " class="meta-link ">Admin</a></span></div>
                        </div>
                        <div class="ft-post ">
                            <h5 class="mb10 "><a href="# " class="ft-post-title ">Wordpress Hosting Website</a></h5>
                            <div class="meta "><span>19 February,2020 </span> <span>/</span> <span>By <a href="# " class="meta-link ">Admin</a></span></div>
                        </div>
                    </div>
                </div>
                <!-- /.footer-post -->
                <!-- footer-post -->
                <div class=" col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
                    <div class="footer-widget ">
                        <h3 class="footer-title ">About us</h3>
                        <p>Nullam ante ligula commd is dvelit velcursus rutum miesue habitantes morbi tristique one senectus enetusetada.</p>
                    </div>
                </div>
                <!-- /.footer-post -->
            </div>
            <!-- tiny-footer -->
        </div>
        <div class="tiny-footer ">
            <div class="container ">
                <div class="row ">
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 ">
                        <div class="social-icon "> <a href="# " class="btn-social-icon "><i class="fa fa-facebook "></i></a> <a href="# " class="btn-social-icon "><i class="fa fa-twitter "></i></a> <a href="# " class="btn-social-icon "><i class="fa fa-linkedin "></i></a> <a href="# " class="btn-social-icon "><i class="fa fa-google-plus "></i></a> </div>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 ">
                        <p>Copyright © All Rights Reserved 2020 Template Design by <a href="https://easetemplate.com/ " target="_blank " class="copyrightlink ">EaseTemplate</a></p>
                    </div>
                </div>
                <!-- /. tiny-footer -->
            </div>
        </div>
    </div>
    <!-- /.footer -->
    <a href="javascript:" id="return-to-top"><i class="fa fa-angle-up"></i></a>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.min.js " type="text/javascript "></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js " type="text/javascript "></script>
    <script src="js/menumaker.js " type="text/javascript "></script>
    <script src="js/navigation.js " type="text/javascript "></script>
    <script type="text/javascript " src="js/jquery.isotope.min.js "></script>
    <script type="text/javascript ">
    $('.fa-search').on('click', function() {
        $(this).siblings().toggleClass('toggle');
    });
    </script>
    <script type="text/javascript" src="js/return-to-top.js"></script>
</body>

</html>